* {
    /* background-color: antiquewhite; */
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

* {
    box-sizing: border-box;
}

body,
html {
    font-family: "Roboto", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 1.125rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.container {
    padding-inline: 1.5em;
    padding-block: 4em;
}

.header {
    font-size: 1.5rem;
    /* padding-block: 5em; */
}

.header h1 {
    font-family: "Space Mono", "Courier New", monospace;
    padding-block: 1.5em;
    text-align: center;
}

#container {
    margin: 10% auto;
    width: 1300px;
    height: 500px;
    position: relative;
    background: maroon;
}



#animate {
    width: 10%;
    height: 10%;
    position: absolute;
    background-color: whitesmoke;
}

#btn-div {
    display: flex;
    justify-content: center;
    margin-block: 3rem;
}

